.user-direct {
  font-family: sans-serif;
  min-width: 150px;
  margin-top: 10px;
  padding: 30px;
  border: none;
  border-radius: 30px;
  background-color: #818285;
  color: #fefefe;
  font-weight: bold;
}
img {

    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 300px;
    box-shadow: 2px 5px black;
}

.row {

    background-color: #243390;
    border-radius: 30px;
    border: 7px solid black;
}
.col-1 {

  min-width: 50%;
  float: left;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  margin-bottom: 10px;

}



.row::after {
  content: "";
  clear: both;
  display: table;
}
.user-home  {
    text-align: center;
}

p {
    font-family: sans-serif;
    margin-top: 30px;
    min-width: 20%;
}
#donate-button {
    background-color: #f47d26;
  font-family: sans-serif;
  min-width: 500px;
  margin-top: 5px;
  padding: 	15px;
  border: none;
  color: #fefefe;
  font-weight: bold;
  box-shadow: 5px 5px black;
  border-radius: 5px;
  
}

#donate-button:hover {
  background-color:yellow;
  color: #fefefe;
}