.user-direct {
  font-family: sans-serif;
  min-width: 100%;
  margin-top: 0.5em;
  padding: 	0.5em;
  border: none;
  border-radius: 30px;
  background-color: #818285;
  color: #fefefe;
  font-weight: bold;
}

ul {
    text-align: center;
}